@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    background: white;
    font-family: 'Open Sans', sans-serif;
    background-attachment: fixed;
    background-color: #ffbf10;
    background-image: -webkit-linear-gradient(140deg, #ffffff 60%, #ffbf10 40%);
}

/*----FOR Multiple tags----*/
.dropdown {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6em;
    padding: 0.2em;
    margin: 1em;
}

.dropdown select {
    display: none;
}

li {
    list-style: none;
    padding: 1em 2em 4em 1em;
}

/*----FOR Form pop up----*/
.panel {
    width: 100%;
    position: fixed;
    bottom: 3em;
    margin-top: 1em;
    max-height: 0em;
    overflow: hidden;
    display: flex;
    justify-content: center;
    transition: max-height 0.5s ease;
}
.panel.visible {
    max-height: 100%;
}

.HowManyFarmers-enter {
    height: 0em;
}

.HowManyFarmers-enter.example-enter-active {
    height: 100%;
    -webkit-transition: height 0.3s ease;
}

.HowManyFarmers-leave.example-leave-active {
    height: 0px;
    -webkit-transition: height 0.3s ease;
}
