@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    background:white;
    font-family: 'Open Sans', sans-serif;
}
        
.panel {
    width: 100%;
    position: absolute;
    bottom: 3em;
    margin-top: 1em;
    max-height: 0em;
    overflow: hidden;
    transition: max-height 0.5s ease;
}
.panel.visible{
  max-height:100%;
}

.HowManyFarmers-enter {
    height: 0em;
}

.HowManyFarmers-enter.example-enter-active {
    height: 100%;
    -webkit-transition: height .3s ease;
}

.HowManyFarmers-leave.example-leave-active {
    height: 0px;
    -webkit-transition: height .3s ease;
}

.form {
    margin: 0 auto;
    max-width: 100%;
}

.clickMe {
    position: absolute;
    bottom: 1em;
    width: 50%;
    background: #368729;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    padding: 0.5em;
}

.title-container {
    display: flex;
    width: 100%;
}

.title {
    margin-left: auto;
}

.cropBox {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
}

h3 {
    text-align: center;
    flex: 0 0 100%;
}

.cropBtn {
    background: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    padding: 0.6em;
    color: white;
    
}

.pestBox {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
}

h2 {
    text-align: center;
    flex: 0 0 100%;
    color: black;
}

.pestBtn {
    flex: 0 0 100%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    padding: 0.6em;
    color: white;
    
}

.button {
    flex: 0 0 100%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    padding: 0.6em;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    margin: 1em;
}

.location {
    text-align: center;
}

.dropdown {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    padding: 0.2em;
    margin: 1em;
}